:root {
    --bordeaux: #B91450;
}

/* COMMON */

h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bordeaux);

}

/* Form */

.ms_form {
    background-color: white;
    width: 100%;
    line-height: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .4);
}

.ms_form .row {
    margin: auto;
    width: 80%;
    line-height: 2.5rem;
}

label {
    color: var(--bordeaux);
}

input, select {
    height: 2rem;
    border: 1px solid var(--bordeaux);
    border-radius: 5px;
}

/* Buttons */

button {
    color: var(--bordeaux);
    font-size: 1.2rem;
    width: 80px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 4px;
    border: 1px solid var(--bordeaux);
}

/* Ticket */

.ticket {
    width: 100%;
    background-color: white;
    /* display: none; */
}

.ticket .row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.passenger-ticket>div:nth-child(1) {
    width: 29%;
    background-color: rgb(184, 184, 184);
}

.passenger-ticket>div:nth-child(2) {
    width: 21%;
}

.passenger-ticket>div:nth-child(3) {
    width: 15%;
}

.passenger-ticket>div:nth-child(4) {
    width: 15%;
}

.passenger-ticket>div:nth-child(5) {
    width: 20%;
}